body, html{
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #fff;
  text-shadow: 0px -4px 0px rgba(0,0,0,0.8);
}
svg{
  /*background-color: blue;*/
  position: absolute;
  top: 0px;
  left: 0px;
}
.overlay{
  text-align: center;
  box-sizing: border-box;
  /*border: 1px solid red;*/
  position: absolute;
  top: 0px;
  left: 0px;
}

span{
  display: block;
}

.container{
}

.shade {
  padding: 20px 0 20px 0;
  background-color: rgba(0,0,0,0.15)
}

.first-name{
  font-size: 132px;
  margin-top: 100px;
}

.last-name{
  font-size: 58px;
  line-height: 1em;
}

.github-name{
  font-size: 86px;
}

.bg-vis iframe{
  border: none;
}

iframe{
  /*-webkit-transform: translate(28px, 472px);*/
}

.bg-vis{
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
}

#github {
  margin: 80px 0 30px 0;
}

.github-name, .github-logo {
  display: inline-block;
}

.github-logo img {
  position: relative;
  width: 80px;
  margin: 0 20px 0 0;
}

.conf-id {
  position: absolute;
  bottom: 70px;
  left: 100px; 
}

.conf-id img {
  width: 850px; 
}

.date {
  position: absolute;
  bottom: 20px;
  left: 400px;  
  font-size: 2em;
  font-weight: 400;
}