<!DOCTYPE html>
<meta charset="utf-8">
<body>
<script src="../../d3.js"></script>
<style>
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #333;
}

</style>
<script>

// originally from: bl.ocks.org/RandomEtc/5165219

var w = 1050, h = 1500

var width = w, height = h



var steps = 0
function step() {
  if(steps++ > 10) return
  // todo
}

is_ready = false

;(function(){
  if(!window.step) window.step = null
  // debuggin snippet for when not in an iframe
  if(window.self !== window.top) return
  ;(function check(){ if(!is_ready) return setTimeout(check, 100); setInterval(step, 1000) })()
})()

</script>